<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/touchstylesheet.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="static/touchscript.js"></script>
    <script src="static/camscript.js"></script>
    <title></title>
</head>
<body id="mainbody" onload="setTimeout('init();', 100);">

    <div id="block_portrait">
        <p class="placeholder">Turn your device in landscape mode.</p>
    </div>

    <div id="livefeedtouch">
        <img id="mjpeg_dest" />
    </div>

    <button id="flash" type="button">LED</button>

</body>
</html>



{#TODO: make page unscrollable, button press and hold (or joystick)#}
